{% extends "base.html.twig" %}

{% block title %}
Página Inicial
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/styles/demo.css">
{% endblock %}

{% block contenido %}
        <section class="howworks">
          <h2 class="howworks__title heading2">
            ¿Cómo funciona?
          </h2>
          <ol class="howworks__steps row">
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </section>
        <section class="app-form">
          <div class="row">
            <div class="col-md-5">
              <div class="app-form__w-app-img">
                <img src="/img/iPhoneX.png"
                     srcset="/img/iPhoneX@2x.png 2x, /img/iPhoneX.png 1x"
                     alt=""
                     class="app-form__app-img">
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="the-form">  
                  <p class="the-form__title heading3">
                    Solicita una demo
                  </p>
                  {{ form(formdata) }}
                  {% for m in app.flashes("ok") %}
                  <p>{{m}}</p>
                  {% endfor %}                  
             
              </div>
            </div>
          </div>
        </section>
        <section class="opinions">
          <h2 class="opinions__title heading2">
            Opiniones de otros guardianes
          </h2>
          <ul class="row">
            <li class="col-md-4">
              <div class="opinion">
                <blockquote class="opinion__blq simple-bubble text-large">
                  Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                </blockquote>
                <p class="opinion__author text-large">
                  Sergio Garnacho
                </p>
                <p class="opinion__author-address">
                  Tetuán, Madrid
                </p>
              </div>
            </li>
            <li class="col-md-4">
              <div class="opinion">
                <blockquote class="opinion__blq simple-bubble text-large">
                  Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                </blockquote>
                <p class="opinion__author text-large">
                  Sergio Garnacho
                </p>
                <p class="opinion__author-address">
                  Tetuán, Madrid
                </p>
              </div>
            </li>
            <li class="col-md-4">
              <div class="opinion">
                <blockquote class="opinion__blq simple-bubble text-large">
                  Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                </blockquote>
                <p class="opinion__author text-large">
                  Sergio Garnacho
                </p>
                <p class="opinion__author-address">
                  Tetuán, Madrid
                </p>
              </div>
            </li>
          </ul>
        </section>

{% endblock contenido %}
