{% extends "base.html.twig" %}

{% block title %}
Página Inicial
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/styles/demo.css">
{% endblock %}

{% block contenido %}

        <section class="app-form">
          <div class="row">
            <div class="col-md-5">
              <div class="app-form__w-app-img">
                <img src="/img/iPhoneX.png"
                     srcset="/img/iPhoneX@2x.png 2x, /img/iPhoneX.png 1x"
                     alt=""
                     class="app-form__app-img">
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="the-form">  
                  <p class="the-form__title heading3">
                    Editar  demo
                  </p>
                  {{ form(formdata) }}
                  {% for m in app.flashes("ok") %}
                  <p>{{m}}</p>
                  {% endfor %}                            
              </div>
            </div>
          </div>
        </section>

{% endblock contenido %}