{% extends "base.html.twig" %}

{% block title %}
Listado
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/styles/demo.css">
{% endblock %}

{% block contenido %}  
    <div class="opinionsdemocab">
        <h2>Listado de Demos</h2>
    </div>
    
  {% for d in demo %}
  <div class="row opinionsdemo">
    <div class="col-md-2">{{d.nombre}}</div>
    <div class="col-md-2">{{d.ciudad}}</div>
    <div class="col-md-4">{{d.email}}</div>
    <div class="col-md-2"><a href={{ path('editardemo',{id:d.id}) }}>Editar </a></div>
    <div class="col-md-2"><a href={{ path('borrardemo',{id:d.id}) }}>Borrar </a></div>
  </div>
  {% endfor %}
{% endblock contenido %}
