<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Maleteo {% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
  {% block css %}{% endblock %}
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <div class="wrapper">
      <div class="container-fluid">
        <header class="header">
            <a href={{ path("newdemo")}}><img src="/img/logo.svg" alt="Maleteo"></a>
        </header>
      </div>
      <div>
        <a href={{path("listdemo")}}>Listado Demos</a><br><br>
     </div>
  </div>
  <main>
    <div class="jumbo">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="jumbo__ww-title">
                <div class="jumbo__w-title">
                  <h1 class="jumbo__title heading1">
                    Gana dinero guardando equipaje a viajeros como tu
                  </h1>
                  <ul class="jumbo__app-btns">
                    <li>
                      <a href="#">
                        <img src="img/app-store.svg"
                             alt=""
                             class="jumbo__app-btn">
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/google-play.svg"
                             alt=""
                             class="jumbo__app-btn">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="container-fluid">



{% block contenido %}
{% endblock %}

      </div>  
    </div>

  </main>
  <footer class="footer">
    <div class="wrapper">
      <div class="container-fluid">
        <img src="/img/logo.svg"
            alt="Maleteo"
            class="footer__logo">
        <p class="footer__claim">
          Hecho con ❤️en Madrid
        </p>
      </div>
    </div>
  </footer>
</body>

</html>
