ol, ul {
  list-style: none;}

.howworks {
  margin-bottom: 5em;

  &__title {
    margin-bottom: 1em;
    @media only screen and (min-width: $breakpoint-md) {
      text-align: center;
    }
  }
  
  &__step {
    display: flex;
    margin-bottom: 2em;
    @media only screen and (min-width: $breakpoint-md) {
      display: block;
      text-align: center;
      margin-bottom: 0;
    }
  
    &-title {
      margin-bottom: .7em;
    }

    &-w-bola {
      margin-right: 1em;
      @media only screen and (min-width: $breakpoint-md) {
        margin-right: 0;
      }
    }
  
    &-bola {
      display: inline-block;
      width: 48px;
      height: 48px;
      background: $gradient-1;
      border-radius: 50%;
      margin-bottom: 1em;
      span {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gradient-1-h;
      }
    }
  }
}

