#demo_form{
  margin-bottom: 1em;
}

.form-group{
  margin-bottom: 1em;
}

.control-label{
  display:block;
}

.form-control{
  display:block;
  width:100%;
  padding:0.7em; 
}

.save{
  background: $gradient-1;  
  color: $gradient-1-h;
  border-radius: 4px;
  font-size: 1.25em;
  padding: 0.5em 1em;

  &:hover {
    background: $primary2;
  }
}



.the-form {
  border: 1px solid $gray1;
  padding: 2em;

  &__title {
    margin-bottom: 1em;
  }

  &__group {
    margin-bottom: 1em;
    label {
      display: block;
      margin-bottom: .2em;
    }

    &_checkbox {
      label {
        display: inline;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    &[type='text'],
    &[type='email']{
      padding: .7em;
    }
  }

  &__select {
    height: 2.5em;
  }
}